[submodule "Source/Libraries/stb"]
	path = Source/Libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "Source/Libraries/glfw"]
	path = Source/Libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Source/LibrariesVulkanMemoryAllocator"]
	path = Source/LibrariesVulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Source/Libraries/VulkanMemoryAllocator"]
	path = Source/Libraries/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Source/Libraries/imgui"]
	path = Source/Libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Source/Libraries/glm"]
	path = Source/Libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "Source/Libraries/assimp"]
	path = Source/Libraries/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Source/Libraries/bullet3"]
	path = Source/Libraries/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Source/Libraries/tracy"]
	path = Source/Libraries/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Source/Libraries/openal-soft"]
	path = Source/Libraries/Audio/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "Source/Libraries/GPUOpen/FidelityFX-FSR2"]
	path = Source/Libraries/GPUOpen/FidelityFX-FSR2
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR2.git
[submodule "Source/Libraries/GPUOpen/FidelityFX-FSR"]
	path = Source/Libraries/GPUOpen/FidelityFX-FSR
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR.git
[submodule "Source/Libraries/OpenXR-SDK-Source"]
	path = Source/Libraries/OpenXR-SDK-Source
	url = https://github.com/KhronosGroup/OpenXR-SDK-Source.git
